<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>express movies</title>
        <link rel="stylesheet" href="../public/style.css">
    </head>
    <body>
        <h1> express movies : les titres des cinéphiles </h1>
        <div>
            Etes-vous plutôt films ou series ? peu import , vous trouverez votre bonheur  dans les deux cas
        </div>

        <%- include ("./partialq/footer") %>
    </body>
</html>