<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>express movies</title>
        <link rel="stylesheet" href="../public/style.css">
    </head>
    <body>
        <h1>film culture </h1>
        <div>
            aez aez aze aze aze aze aze aze
        </div>

        <%- include ("./partialq/footer") %>
    </body>
</html>